<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>害羞</string>
	<string>呲牙</string>
	<string>疑问</string>
	<string>亲亲</string>
	<string>大笑</string>
	<string>睡觉</string>
	<string>奋斗</string>
	<string>大哭</string>
	<string>喜欢</string>
	<string>你好</string>
	<string>酷</string>
	<string>调皮</string>
	<string>发火</string>
	<string>惊吓</string>
	<string>委屈</string>
	<string>赞</string>
	<string>谢谢</string>
	<string>再见</string>
	<string>晕</string>
</array>
</plist>
